body { 
    background-color: rgb(114, 171, 221);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1 {
    color: rgb(12, 168, 103);
    text-align: center;
}
